paquete_atlas.json
{
  "name": "Crear Paquetes Atlas",
  "nodes": [
    {
      "parameters": {
        "path": "atlas-create",
        "method": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "return {\n  json: {\n    Usuario: 'amorosijavier@gmail.com',\n    Clave: 'elperromira1..',\n    Empresa: 'DEMOAR',\n    Sucursal: 'CC',\n    WSProducto: {\n      Titulo: $json.titulo,\n      Descripcion: $json.descripcion || '',\n      Precio: parseFloat($json.precio),\n      Noches: parseInt($json.noches),\n      DestinoCiudad: $json.destinoCiudad,\n      DestinoPais: $json.destinoPais,\n      Origen: $json.origen || 'Buenos Aires',\n      ImagenUrl: $json.imagen || '',\n      Disponible: $json.disponible !== false\n    }\n  }\n};"
      },
      "name": "Set / Preparar Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "https://api-atlas-netviax-com-test.azurewebsites.net/rest/wsproductocrear",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "HTTP Request Atlas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "responseData": "={{ {\n  success: true,\n  message: 'Paquete creado en Atlas',\n  paquete_externo_id: $json.id || ('ATLAS_' + Date.now()),\n  titulo: $('Webhook').first().$json.titulo,\n  precio: $('Webhook').first().$json.precio,\n  atlas_response: $json\n} }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Set / Preparar Datos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set / Preparar Datos": {
      "main": [
        [
          { "node": "HTTP Request Atlas", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP Request Atlas": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
